doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title MyDrugs
  script(src='/scripts/frontendScripts/controller.js' type='module' defer='')
  link(rel='icon' type='image/x-icon' href='./public/favicon.svg')
  link(rel='stylesheet' href='/style.css')
nav.navbar
  .container
    h2.heading-primary MyDrugs
    ul
      li
        a(href='#') Products
      li
        a(href='#') FAQ
      li
        a(href='#') About us
      li
        a.nav-register-cta(href='/register') Register
section.hero__section
  .hero__section__overlay
  .container
    h1.hero__section__heading MyDrugs
    span.hero__section__filler Experience relief. Find the right medication for you
    button.btn.btn--white.mt-big Browse
section.section__about
  .container
    .section__about__left-wrapper
      h2.heading-primary Welcome to MyDrugs
      p.section__about__text.mb-huge
        | We are a team of passionate professionals dedicated to improving
        | people&apos;s lives by providing access to high-quality medications and
        | exceptional customer service. Our mission is to make it easy for you
        | to manage your health and improve your quality of life.
      p.section__about__text
        | We believe that everyone should have access to affordable and
        | reliable healthcare, and we strive to make this a reality through
        | our online pharmacy. Our team of licensed pharmacists is committed
        | to ensuring that you receive the best possible care, with
        | personalized consultations and free delivery.
      .section__about__btn-wrapper
        button.btn.btn--white.btn-scrollToCatalog Browse
        a.btn.btn--black(href='/register') Create profile
    .section__about__right-wrapper
      img(src='/imgs/about-img.jpg' alt='about us image')
section.section__products
  .section__products__filter-bar
    button#closeBar
      img(src='/imgs/x.svg')
    h2.heading-primary Filter Products
    form
      h2.heading-primary Category
      .input-wrapper
        input(type='checkbox' value='sedatives' name='sedatives')
        label(for='sedatives') Sedatives
      .input-wrapper
        input(type='checkbox' value='stimulants' name='stimulants')
        label(for='sedatives') Stimulants
      .input-wrapper
        input(type='checkbox' value='hg' name='hg')
        label(for='sedatives') Hallucinogenics
      h2.heading-primary Price
      .input-wrapper
        input(type='checkbox' value='htl' name='htl')
        label(for='htl') High to Low
      .input-wrapper
        input(type='checkbox' value='lth' name='lth')
        label(for='lth') Low to High
      h2.heading-primary Shipping Location
      .input-wrapper
        input(type='checkbox' value='columbia' name='columbia')
        label(for='columbia') Columbia
      .input-wrapper
        input(type='checkbox' value='germany' name='germany')
        label(for='germany') Germany
      .input-wrapper
        input(type='checkbox' value='austria' name='austria')
        label(for='austria') Austria
      h2.heading-primary Rating
      .input-wrapper
        input(type='checkbox' value='highRating' name='highRating')
        label(for='highRating') highest
      .input-wrapper
        input(type='checkbox' value='lowRating' name='lowRating')
        label(for='lowRating') Lowest
      h2.heading-primary Shipping
      .input-wrapper
        input(type='checkbox' value='shipToday' name='shipToday')
        label(for='shipToday') Same Day
      .input-wrapper
        input(type='checkbox' value='shipTomorrow' name='shipTomorrow')
        label(for='shipTomorrow') Next Day
      button#submitFilter Refresh Results
  button#openBar
    img(src='/imgs/list.svg' alt='menu img')
  .container.container--1
    h2.heading-primary Explore Products
    span.section__products__filler Here at MyDrugs, we value quality over quantity
  .container.mt-huge
    ul.container-filters
      li.active All Products
      li Best Sellers
      li Your Latest Purchases
      li Recommended By Others
    .section__products__wrapper
      for product in products 
        .section__products__product-wrapper(data-identifier=`${product._id}`)
          img(src=`${product.productImage}`)
          .section__products__product-wrapper__rating-wrapper
            img(src='/imgs/star-fill.svg')
            span= product.ratingAvg
          .section__products__product-wrapper__desc
            span.title= product.productName
            span.desc= product.productSub
              br
              a(href='#') Read More
            span.price= `$${product.price}`
            button#buyDrug BUY
    .pagination-wrapper
      if (page)
        if (+page - 1 > 0)
          if (products.length > 0)
            a.page(href=`/?page=${+page - 1}`)= +page - 1
            a.page(class='page--active' href=`/?page=${+page}`)= page
            a.page(href=`/?page=${+page + 1}`)= +page + 1
          else 
            a.page(href=`/?page=${+page - 1}`)= +page - 1
            a.page(class='page--active' href=`/?page=${+page}`)= page
        else
          a.page(class='page--active' href=`/?page=${+page}`)= +page
          a.page(href=`/?page=${+page + 1}`)= +page + 1
          a.page(href=`/?page=${+page + 2}`)= +page + 2
      else 
        a.page(class='page--active' href=`/?page=1`) 1
        a.page(href=`/?page=2`) 2
        a.page(href=`/?page=3`) 3
footer.footer
  .container
    ul
      li
        a(href='#') About us
      li
        a(href='#') Your Profile
      li
        a(href='#') Previous Orders
      li
        a(href='#') Settings
      li
        a(href='#') Wishlist
    h2 MyDrugs
